<section class="container w-75 mt-3 mb-5">
  <form
    (ngSubmit)="cadastroOferta()"
    [formGroup]="formulariocadastro"
    #f="ngForm"
  >
    <div>
      <h3>Cadastro de ofertas</h3>
      <div class="col-sm-6 col-lg-6 col-md-4">
        <label for="nome">Nome Completo</label>
        <input
          formControlName="nome"
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome"
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-4">
        <label for="telefone">Telefone</label>
        <input
          type="telefone"
          name="telefone"
          class="form-control"
          id="telefone"
          placeholder="Telefone"
          formControlName="telefone"
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-4">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-4">
        <label for="valor">Valor da Proposta</label>
        <input
          type="number"
          class="form-control"
          name="valor"
          id="valor"
          placeholder="99.999,00"
          formControlName="valor"
        />
      </div>
      <div class="col-sm-6 col-lg-6 col-md-4">
        <label for="mensagem">Mensagem</label>
        <textarea formControlName="mensagem" id="mensagem" class="form-control">
        </textarea>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6m-auto text-center">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </div>
    </div>
  </form>
</section>
